
/* Your CSS Code here. */
.flex-div{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border: 2px solid black;
}
.holder{
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows: repeat(2,200px);
    flex-wrap: wrap;
}
